Python Language Basics, IPython, and Jupyter Notebooks

Python Language Basics

Language Semantics

Indentation, not braces

In [1]:
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

NameError: name 'array' is not defined

In [2]:
a = 5; b = 6; c = 7

In [3]:
c

7

Everything is an object

Comments

In [ ]:
results = []
for line in file_handel:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo','bar'))
    print("Reached this line") #Simple status report

Function and object method calls
    result = f(x,y,z)
    g()
    
    obj.some_method(x,y,z)
  result = f(a,b,c,d=5,e='foo')

Variables and argument passing

In [4]:
a= [1,2,3]

In [5]:
b= a

Dynamic references, strong types

In [1]:
a = 5
type(a)

int

In [2]:
a = 'foo'
type(a)

str

In [3]:
'5'+ 5

TypeError: can only concatenate str (not "int") to str

In [4]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a),type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [5]:
a = 5
isinstance(a, int)

True

In [6]:
a = 5; b = 4.5
isinstance(a, (int,float))
isinstance(b, (int,float))

True

In [11]:
a = 'foo'

In [12]:
a.<Press Tab>

SyntaxError: invalid syntax (<ipython-input-12-656d30e2deb8>, line 1)

In [13]:
a.upper()

'FOO'

In [14]:
#앞에 첫 글자 대문자화
a.capitalize()

'Foo'

In [15]:
getattr(a,'split')

Duck typing

In [16]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # nor iterable
        return False

In [17]:
isiterable('a string')

True

In [18]:
isiterable([1, 2, 3])

True

In [19]:
isiterable(5)

False

if not isiterable(x,list)and isiterable(x):=list(x)

Imports
In Python a midule is simply a file with the.py extension containing Python code. Suppose that we had the following module:
some_module.py
PI = 3.14159

def f(x):
    return x + 2
def g(a,b):
    return a + b

If we wanted to access the variables and functions defined in some_module.py,from another file in the same directory we could do:

In [9]:
import some_module

result = some_module.f(5)

In [10]:
pi = some_module.PI
pi

3.14

Or equivalently:

In [11]:
from some_module import f, g, PI
result = g (5, PI)
result

8.14

In [ ]:
By using whe as keyword you can give imports differnt variable names:

In [ ]:
import some_mudule as sm
from some_mudule import PI as pi, g as gf

r1= sm.f(pi)
r2 = gf(6,pi)

In [ ]:
r1

In [ ]:
r2

Binary operators and comparisons

Most of the binary math operations and comparisons are as might expect:

In [31]:
5 - 7
12 + 21.5
5 <= 2

False

To check if two references refer to the same object, use the is keyword. is not also perfectly valid if you want to check that two objects are not the same:

In [33]:
a = [1, 2, 3]
b = a
c= list(a)
a is b
a is not c

True

Since list always creates a new Python list(i.e.,a copy), we can be sure that c is distinct from a.
Comparing with is is not the same as the == operator, in this case we have:

In [34]:
a == c

True

In [35]:
a = None
a is None

True

Mutable and immutable objects
Most objects in Python, such as lists, dicts, NumPy arrays, and most-user-defined types (calsses), are mutable.
This means that the object or values that they contain can be modifide:

In [36]:
a_list = ['foo', 2, [4, 5]]
a_list [2] = (3, 4)
a_list

['foo', 2, (3, 4)]

Other, like strings and tuples, are immutable:

In [37]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

## Scalar Types,

### Numeric types,

The primary Python types for numbers are int and float. An int can store arbitarily large numbers:

In [38]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

Floating-point nimbers are represented with the Python float type. Under the hood each one is a double-precision ( 64-bit)value. They can also be expressed with scientific notation:

In [39]:
fval = 7.243
fval2 = 6.78e-5

In [40]:
3 / 2

1.5

In [41]:
type(3/2)

float

In [42]:
3//2

1

In [43]:
type(3//2)

int

Strings
Many people use Python for its powerful and flexible built-in string processing capabilities.
You can write string literals using either single quotes 'or double quotes':

In [44]:
a = 'one way of writing a string'
b= "another way"

For multiline strings with line breaks, you can use triple quotes,either'''or'''"""""":

In [45]:
c = """
This is a longer string that
spans multiple lines
"""

In [46]:
c

'\nThis is a longer string that\nspans multiple lines\n'

'|nThis is a longer sring that|nspans multiple lines|n'

it may surprise you that this string c actually contains four lines of text;
the line breaks after"""and after lines are included in string.
We can count the new line characters with count method on c:

In [47]:
c.count('|n')

0

Python string are immutable; you cannot modify a string:

In [48]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [50]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [51]:
a

'this is a string'

Many Python object can be converted to a string using the str function

In [53]:
a = 5.6
s = str(a)
print(s)

5.6

String are a sequence of Unicode characters and therefore can be treated like other sequences, such as list and tuples(which we will explore in more detail in the next chapter):

In [54]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [55]:
s[:3]

'pyt'

The syntax s [:3] is called slicing and is implemented for many kinds of Python sequences. This will be explained in more detail later on, as it is used extensively in this book.
The backslash character | is an escape character, meaning that it is used to specify special characters like newline |n or Unicode characters. To write a string literal with backslashes, you need to escape them:

In [60]:
print('12\n34')

12
34

In [61]:
s = '12\\34'
print(s)

12\34

Adding two string together concatenates them and produces a new string:

In [62]:
a = 'this is the first half'
b = 'and this is the second half'
a + b

'this is the first halfand this is the second half'

String templating or formatting is another important topic.
The number of ways to do so has expanded with the advent of Python 3,
and here i will briefy describe the mechanics of one of the main interfaces.
String object have a format method that can be used to substitute formatted arguments into the string, producing a new string:

In [63]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template

'{0:.2f} {1:s} are worth US${2:d}'

{0:2f} means to format the first argument as a floating-point umber with two decimal places.
{1:s} means to format the second argument as a string.
{2:d} means to format the third argument as an exact integer.

In [64]:
template.format(4.5560, 'Argentine Pesos',1)

'4.56 Argentine Pesos are worth US$1'

In [65]:
template.format(1263.23, 'won',1)

'1263.23 won are worth US$1'

Booleans

The two boolean values in Python are written as True and False.
Comaparisons and other conditional and other conditional expressions evaluate to either True or Fales.

Boolean values are combined with the and or leywords:

In [66]:
True and True

True

In [67]:
False or True

True

Type casting
The srt bool, int,and float types are also functions that can be used to cast values

In [68]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [69]:
int(fval)

3

In [70]:
bool(fval)

True

In [71]:
bool(0)

False

None

none is the Python null value type. If a function does not explicitly return a value, it impliccitly return returns None:

In [72]:
a = None
a is None

True

In [73]:
b = 5
b is not None

True

In [74]:
def add_and_maybe_multiply(a, b, c = None):
    result = a + b
    
    if c is not None:
        result = result * c
        
    return result

In [75]:
None is also a common default value for unction arguments:

SyntaxError: invalid syntax (<ipython-input-75-8b5f16fce071>, line 1)

In [76]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
        
    return result

In [77]:
add_and_maybe_multiply(5,3)

8

In [78]:
add_and_maybe_multiply(5,3,10)

80

While a technical point, it`s worth bearing in mind that None is not only a reserved keyword but also a unique instance of NoneType:

In [79]:
type(None)

NoneType

Dates and times

The built-in Python datetime module provides datetime, date,and time types.
The datetime type, as you may imagine, combines the information stored in date and time and is the most commonly used:

In [80]:
from datetime import datetime, date, time
dt = datetime(2011, 10 , 29, 20, 30, 21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [81]:
dt.day

29

In [82]:
dt.minute

30

Given a datetime instance, you can extract the equivalent date and time objects by calling methods on the datetime of the same name:

In [83]:
dt.date()

datetime.date(2011, 10, 29)

In [84]:
dt.time()

datetime.time(20, 30, 21)

The strftime method formats a datetime as a string:

In [87]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [90]:
dt.strftime('%Y/%M/%D %H:%M')

'2011/30/10/29/11 20:30'

strings can be converted(pared) into datetime objects with the strptime function:

In [91]:
datetime.strptime('20091031','%Y%M%d')

datetime.datetime(2009, 1, 31, 0, 10)

When you are aggregating or otherwise grouping time series data, it will occasionally be useful to replace time fields of a series of datetimes-for example,replacing the minute and second fields with zero:

In [92]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [93]:
dt2= datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [94]:
type(delta)
dt
dt+delta

datetime.datetime(2011, 11, 15, 22, 30)

## Contril Flow
Python has several built-in keywords for conditional logic, loops,and other standard control flow concepts found in other programming languages.
## if, elif, and eles
The of statement is one of the most well-known control flow statement types.
It checks a condition that, if True, evaluates the code in the block that follows:

In [ ]:
x = -5
if x < 0:
    print('It is negative')

It is negative
#### An if statement ane be optionally followed by one or more elif blocks and a catch all else block if all of the conditions are False

In [95]:
x = -5

if x < 0:
    print('It is negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x< 5 :
    print('Positvie but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

It is negative

if any of the conditions is True, no furtther elif or elif or else blocks will be reached.

With a compound condition using and or or, conditions are evaluated left to right and will short-circuit:

In [96]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

in this example, the comparison c > d never gets evaluated because the frist compar-ison was True.

it is also possible to chain comparisons:

In [98]:
4 > 3 > 2 > 1

True

In [99]:
3>5 or 2>1

True

In [100]:
3>5>2>1

False

### for loops

for loops are for iteraiting over a collection (like a list or tuple) or an iterater. The standard syntax for a for loop is:
   
   for value in collection:
   
        # do something wiht value

you can advance a for loop to the next iteration, skipping the remaionder of the block, using the continue keyword.

Consdider this code, which sums up integers in a list and skips None values

In [101]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    total += value

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [102]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value

In [103]:
total

12

A for loop can be exited altogether with the break keyword. This code sums ele-ments of the list until a 5 is reached:

In [104]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [106]:
total_until_5

13

The break keyword only termonates the innermost for loop; any outer for loops will continue to run:

In [108]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

As we will see in more detail, if the elements in the collection or iterator are sequence(tuples or list, say),

they can be conveniently unpack into variables in the for loop statement:
    for a, b, c in iterator:
        #do something

In [109]:
for a, b, c in [[1,2,3,],[4,5,6],[7,8,9]]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

while loops

A while loop specifies a comdition and ablock of code that is to be executed until the condition evaluates to False or the loop is explicity ended with break:

In [110]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [111]:
total

504

In [112]:
x

4

In [113]:
256+128+64+32+16+8

504

### pass

pass is the "no-op"(No Operation) statement in Python. it can be used in blocks where no action is to

be taken (or as a placeholder for code not yet implemented); it is only required

because Python uses whitespace to delimit blocks:

In [114]:
x= -1
if x < 0 :
    print('negative!')
elif x == 0:
    # TODO : put something smart here
    pass
else:
    print('positive!')

negative!

### range

the range function returns an iterator that yields a sequence of evenly spaced integers:

In [115]:
range(10)

range(0, 10)

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Both a start, end, and step (which may be negative) can be given:

In [117]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [118]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

As you can see, range produces integers up to but not including the endpoint.

A common use of range is for iterating through sequence by index:

In [119]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val = seq[i]

In [120]:
val

4

While you can use functions like list to store all the integers generated by range in
some other data structure, often the default iterator form will be what you want. This
svippet sums all numbers from 0 to 99,999 that ate multiples of 3 or 5:

In [121]:
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

### Ternary expressions

value = true - expr if condition else false - expr

### Here,true - expr and be any Python experssions. It has the identical effect as the verbose:

if condition:
    
    value = true - expr

else :
    
    value = false-expr

In [122]:
x = 5
'Non - negative' if x >= 0 else 'Negative'

'Non - negative'

In [123]:
x = 5

a = 100 if x>=0 else -100
a

100